<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>694400225131-v0582df7rbfv8qjnhs4hbgfgppbm0iul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.694400225131-v0582df7rbfv8qjnhs4hbgfgppbm0iul</string>
	<key>API_KEY</key>
	<string>AIzaSyA23PpPpT57xwJ6pjOUYcpltefcKCZNI0M</string>
	<key>GCM_SENDER_ID</key>
	<string>694400225131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app.dev</string>
	<key>PROJECT_ID</key>
	<string>starter-kit-86803</string>
	<key>STORAGE_BUCKET</key>
	<string>starter-kit-86803.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694400225131:ios:c127dbefe207d59c93462e</string>
</dict>
</plist>